@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("./scifi-4.jpg") no-repeat center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    overflow: hidden;
}
.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28rem;
}
.signin, .signup{
    color: white;
    position: relative;
    top: 0;
    left: 0;
    background: rgba(48, 30, 30, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 3rem 2rem;
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    animation: animateForm 1s ease forwards;
}
.container h2{
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.social{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.social a{
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 3rem;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
}
.social a:hover{
    background: white;
    color: black;
}
p{
    text-align: center;
    margin: 1rem 0;
}
.container form input{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 1.2rem;
    background: rgba(255, 2555, 2555, 0.1);
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
}
.container form input::placeholder{
    color: white;
}
.container form input[type="submit"]{
    background: #31c6f4;
    transition: all 300ms ease;
    cursor: pointer;
}
.container form input[type="submit"]:hover{
    opacity: 0.8;
}
.container form small{
    display: block;
    margin-top: 1rem;
    opacity: 0.65;
}
.container form small label{
    color: rgb(208, 255, 0) ;
    cursor: pointer;
}
/* Sign Up */
.signup{
    display: none;
}
#toggle{
    display: none;
}
#toggle:checked ~ .signin{
    display: none;
}
#toggle:checked ~ .signup{
    display: block;
}

@keyframes animateForm {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}